<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VisualLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <VisualLayer.Properties.Settings>
            <setting name="NombreTicketera" serializeAs="String">
                <value />
            </setting>
            <setting name="TiempoAutoSave" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RutaBase" serializeAs="String">
                <value />
            </setting>
            <setting name="SavesPath" serializeAs="String">
                <value>\bin</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>\backups</value>
            </setting>
            <setting name="StockFile" serializeAs="String">
                <value>\stock.dat</value>
            </setting>
            <setting name="UsersFile" serializeAs="String">
                <value>\users.dat</value>
            </setting>
            <setting name="FullSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FullBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RegistroVentasPath" serializeAs="String">
                <value>\Registros</value>
            </setting>
            <setting name="RegistroVentasCompleto" serializeAs="String">
                <value />
            </setting>
            <setting name="IDVenta" serializeAs="String">
                <value>0</value>
            </setting>
        </VisualLayer.Properties.Settings>
    </userSettings>
</configuration>
